/****** COMMON  ******/
header {
    background-color: cornflowerblue;
}
a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: darkblue!important;
}

.btn-primary:hover {
    color: darkblue!important;
}

form {
    padding: 2.5rem;
    border: 2px solid cornflowerblue;
    border-radius: 10px;
    background-color: ghostwhite;
}
/****** COMMON  ******/
